
openfoodfacts_data.csv
openfoodfacts_clean.csv
openfoodfacts_clean_med.csv
openfoodfacts_clean_mean.csv
2021 03 03 QR scientifique et technique V41_EN_VF.pdf
NUT2012SA0103Ra-1.pdf
openfoodfacts_clean_data.csv
Cas_usage.ipynb
bar_chocolat.png
donnees_nutrionnelles_bulgare.jpg
.ipynb_checkpoints/Cas_usage-checkpoint.ipynb
Présentation/Images/carbohydrates_vs_palm_oil.png
Présentation/Rapport.docx
Présentation/Images/sodium_vs_palm_oil.png
Présentation/Images/sodium_vs_nutriscore.png
Présentation/Images/representation_kmeans.png
Présentation/Images/repartition_produits_palm_oil_cluster.png
Présentation/Images/repartition_produits_nutriscore_cluster.png
Présentation/Images/repartition_nutriscore.png
Présentation/Images/proteins_vs_nutriscore.png
Présentation/Images/pieplot_product.png
Présentation/Images/pieplot_countries.png
Présentation/Images/pieplot_brands.png
Présentation/Images/palm_oil_vs_sugars.png
Présentation/Images/palm_oil_vs_proteins.png
Présentation/Images/nutriscore_vs_sucres.png
Présentation/Images/nutriscore_vs_carbohydrates.png
Présentation/Images/matrice_corr.png
Présentation/Images/inertie_kmeans.png
Présentation/Images/inertie_k-means.png
Présentation/Images/huile_de_palm_vs_graisses.png
Présentation/Images/graisse_vs_nutriscore.png
Présentation/Images/energy-kcal_vs_palm_oil.png
Présentation/Images/energy-kcal_vs_nutriscore.png
