
openfoodfacts_data.csv
openfoodfacts_clean.csv
openfoodfacts_clean_med.csv
openfoodfacts_clean_mean.csv
2021 03 03 QR scientifique et technique V41_EN_VF.pdf
NUT2012SA0103Ra-1.pdf
openfoodfacts_clean_data.csv
Cas_usage.ipynb
bar_chocolat.png
donnees_nutrionnelles_bulgare.jpg
.ipynb_checkpoints/Cas_usage-checkpoint.ipynb
Présentation/Images/carbohydrates_vs_palm_oil.png
Présentation/Rapport.docx
Présentation/Images/sodium_vs_palm_oil.png
Présentation/Images/sodium_vs_nutriscore.png
Présentation/Images/representation_kmeans.png
Présentation/Images/repartition_produits_palm_oil_cluster.png
Présentation/Images/repartition_produits_nutriscore_cluster.png
Présentation/Images/repartition_nutriscore.png
Présentation/Images/proteins_vs_nutriscore.png
Présentation/Images/pieplot_product.png
Présentation/Images/pieplot_countries.png
Présentation/Images/pieplot_brands.png
Présentation/Images/palm_oil_vs_sugars.png
Présentation/Images/palm_oil_vs_proteins.png
Présentation/Images/nutriscore_vs_sucres.png
Présentation/Images/nutriscore_vs_carbohydrates.png
Présentation/Images/matrice_corr.png
Présentation/Images/inertie_kmeans.png
Présentation/Images/inertie_k-means.png
Présentation/Images/huile_de_palm_vs_graisses.png
Présentation/Images/graisse_vs_nutriscore.png
Présentation/Images/energy-kcal_vs_palm_oil.png
Présentation/Images/energy-kcal_vs_nutriscore.png
Présentation/Images/pieplot_marques.png
Présentation/Images/pieplot_pays.png
Présentation/Images/pieplot_produits.png
Présentation/Images/produit_bulgarie.jpg
datasets/openfoodfacts_clean_median.csv
product_norm.py
Présentation/Images/pedestrians-918471_1920.jpg
Présentation/Images/people-6027028_1920.jpg
Présentation/Images/beverages-3105631_1920.jpg
Présentation/Images/supermarket-435452_1920.jpg
translation_countries.py
PSante_03_presentation.pptx
__pycache__/product_norm.cpython-38.pyc
Présentation/Images/cheese-25234_1280.png
Présentation/Images/data_cleansing.png
Présentation/Images/external-content.duckduckgo.com.jpg
Présentation/Images/external-content.duckduckgo.com.png
Présentation/Images/jupyter_notebook.png
Présentation/Images/openfoodfacts.png
Présentation/Images/smartphone-1184883_1920.png
Présentation/Images/top_10_pays.png
Présentation/Images/top_10_produits.png
Présentation/Images/top_10_marques.png
Présentation/Images/nutriscore.png
carbohydrates_boxplot.png
Présentation/Images/repartition_kmeans.png
Présentation/Images/carbohydrates_distribution.png
~$PSante_03_presentation.pptx
Présentation/Images/Contingency_tab.png
Présentation/Images/additifs_vs_lipides.png
Présentation/Images/additifs_vs_proteins.png
Présentation/Images/additives.png
Présentation/Images/carbohydrates_vs_additifs.png
Présentation/Images/energy-kcal_vs_additives.png
Présentation/Images/fat_distribution.png
Présentation/Images/lipides_boxplot.png
Présentation/Images/proteins_distribution.png
Présentation/Images/palm_oil.png
Présentation/Images/proteins_boxplot.png
Présentation/Images/repartition_produits_additifs_cluster.png
Présentation/Images/Téléchargements/beverages-3105631_1920.jpg
Présentation/Images/Téléchargements/cheese-25234_1280.png
Présentation/Images/Téléchargements/data_cleansing.png
Présentation/Images/Téléchargements/external-content.duckduckgo.com.jpg
Présentation/Images/Téléchargements/external-content.duckduckgo.com.png
Présentation/Images/Téléchargements/jupyter_notebook.png
Présentation/Images/Téléchargements/openfoodfacts.png
Présentation/Images/Téléchargements/people-6027028_1920.jpg
Présentation/Images/Téléchargements/pedestrians-918471_1920.jpg
Présentation/Images/Téléchargements/produit_bulgarie.jpg
Présentation/Images/Téléchargements/smartphone-1184883_1920.png
Présentation/Images/Téléchargements/supermarket-435452_1920.jpg
